#Exemplo de URL para o MySQL: mysql://usuario:senha_do_usuario@localhost:3306(porta)/nome_do_banco_de_dados
DATABASE_URL="mysql://root:root@localhost:3306/codificar"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="codificar"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
#Porta da aplicação rodando Express
PORT=3000